<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body>

<script language="JavaScript" src="http://www.live365.com/scripts/cookiemonster.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/clientdetect.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/version.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/vb_sniff_lite.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/hosts.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/player.js"></script>
<script language="JavaScript" src="http://www.live365.com/scripts/customplayer.js"></script>
<script language="JavaScript" src="../music.js"></script>

<!-- current playing song -->
<iframe src="http://www.live365.com/mini/playlist.html?station=easylisteningradio&amp;ads=0&amp;hide=TBW&amp;css=http%3A//hiphop.net/radio/pls.css&amp;mode=1" name="Live365PlayerPlaylist" scrolling="AUTO" noresize="" frameborder="No" marginwidth="0" marginheight="0" width="360" height="80"></iframe>
<script language="JavaScript">
	DrawControls();
</script>
</body>
</html>