/* Move down content because we have a fixed navbar that is 50px tall */

h1, h2, h3, h4, p, a, label {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.navigation-bar {
  background-color: #3b5998;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
}
.navbar-brand {
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
}
a.navbar-brand {
  color: #fff;
}
a.navbar-brand:hover, :active {
  color: #BBDEFB;
    -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.boxes {
  background-color: #afbdd4;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  overflow: hidden;
}


.images {}
.btn {
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px 0;
}
.btn:hover, ::after {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.btn-primary {
  background-color: #3b5998;

}
.btn-primary:hover, ::after {
  background-color: #0D47A1;

}

.podcast  {
  min-height: 700px;
}

.podcast i {
  color: #3b5998;
  padding-top: 100px;
  font-size: 500px;
}

@media screen and (max-width: 720px) {
   .podcast i {
       font-size: 250px;
   }
}

.podcast i:hover {
  color: #0D47A1;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.fa-heart {
  color: #F44336;
}

label {
  font-size: 20px;
}
label i {
  color: #3b5998;
}

.fa-car {
  font-size: 150px;
  color: #3b5998;
  opacity: 0.8;
}

.fa-eye-slash {
  font-size: 150px;
  color: #3b5998;
  opacity: 0.8;
}
.fa-hand-spock-o {
  font-size: 150px;
  color: #3b5998;
  opacity: 0.8;
}
.overlay {
  line-height: 300px;
  text-align: center;
  position: relative;
}
hr.dark {
  border-color: #000;
  border-width: medium;
  opacity: 0.1;
}

footer {
  text-align: center;
  padding: 15px;
}

/* ==========================================================================
Preloader
========================================================================== */

body {
	overflow: global;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
